@import "tailwindcss";

:root {
  --background: #FFF5E4;
  --foreground: #222222;

  --font-body: var(--font-lato);
  --font-heading: var(--font-roboto-slab);
  --font-accent: var(--font-amaranth);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

.font-heading {
  font-family: var(--font-heading), serif;
}

.font-accent {
  font-family: var(--font-accent), sans-serif;
}